* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cards-in-rows {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 90%;
    margin: 40px auto;
    flex-wrap: wrap;

}

.card-container {
    width: 400px;
    border-radius: 8px;
    border: 2px solid black;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin: 10px auto;
}

img {
    width: 100%;
    height: 20vw;
    object-fit: cover;
}

.card-content {
    display: flex;
    flex-direction: column;
    padding: 15px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
}

p {
    flex-grow: 1;
    margin: 20px 0 20px 0;
    color: red;
}

button {
    background-color: blue;
    color: white;
    border-radius: 4px;
    border: none;
    margin: 10px;
    padding: 10px;
    cursor: pointer;

}

@media (max-width:600px) {
    .cards-in-rows {
        justify-content: center;
    }

    .card-container {
        width: 90vw;
        margin-bottom: 20px;
    }
}