* {
   margin: 0;
   padding: 0;
   /* Yeh line add karna zaroori hai */
   box-sizing: border-box;
}

body {
   padding: 10px;
   border-bottom: 2px solid black;
   ;
}

header {
   margin-bottom: 20px;
   border-bottom: 2px solid black;
}

main {
   max-width: 1000px;
   margin: auto;
   padding: 20px;
   border: 4px solid black;
}

section {
   padding: 15px;
   margin-bottom: 30px;
   border: 2px solid black;
}

header ul {
   display: flex;
   justify-content: center;

}

header ul li {
   margin-left: 50px;
   list-style: none;
}

header ul li a {
   color: blue;
   text-decoration: none;
   font-weight: bold;
 
}

footer {
   display: flex;
   justify-content: center;
} 

footer a{
   margin-left: 20px;
   margin-right: 20px;
}
footer address a {
   margin-left: 0; 
}